---
import { Star, Heart, Coffee, Music, Sparkles } from "@lucide/astro";
---

<div class="fixed top-20 left-10 hidden lg:block">
    <Star class="h-8 w-8 text-yellow-700 opacity-60 rotate-12" />
</div>
<div class="fixed bottom-20 right-10 hidden lg:block">
    <Heart class="h-10 w-10 text-pink-700 opacity-50 -rotate-6" />
</div>
<div class="fixed top-1/3 right-16 hidden lg:block">
    <Coffee class="h-6 w-6 text-brown-700 opacity-60 rotate-12" />
</div>
<div class="fixed bottom-1/3 left-16 hidden lg:block">
    <Music class="h-7 w-7 text-purple-700 opacity-50 -rotate-12" />
</div>
<div class="fixed top-2/3 right-24 hidden lg:block">
    <Sparkles class="h-5 w-5 text-blue-700 opacity-60 rotate-6" />
</div>
