---
const { class: className, item, desc, icon: Icon } = Astro.props;
---

<div class="flex items-center gap-3 p-2 rounded-lg">
    <div
        class:list={[
            "shrink-0 w-10 h-10 border rounded-full flex items-center justify-center rotate-2",
            className,
        ]}
    >
        <Icon class="h-5 w-5" />
    </div>
    <div>
        <h3 class="font-crayon text-lg text-natural-950">{item}</h3>
        <p class="font-marker text-s text-natural-700">{desc}</p>
    </div>
</div>
