<div
    class:list={[
        "relative",
        "bg-white bg-lines bg-size-[100%_24px]",
        "radius-xs shadow-md p-4",
        "before:content-[''] before:absolute",
        "before:-left-[5px] before:top-0 before:h-full before:w-[4px]",
        "before:bg-red-300 before:radius-xs",
    ]}
>
    <slot />
</div>
