---
const { item, desc, href, icon: Icon } = Astro.props;
---

<a
    class="flex items-center gap-3 p-2 hover:bg-purple-50 rounded-lg transition-colors group"
    href={href}
    rel="me"
>
    <div
        class="shrink-0 w-10 h-10 border border-purple-800 bg-purple-50 rounded-full flex items-center justify-center rotate-2 group-hover:rotate-0 transition-transform"
    >
        <Icon class="h-5 w-5 text-purple-800" />
    </div>
    <div>
        <h3 class="font-crayon text-lg text-gray-800">{item}</h3>
        <p class="font-marker text-s text-gray-600">{desc}</p>
    </div>
</a>
