---
const { class: className } = Astro.props;
---

<div
    class:list={[
        "relative",
        "max-w-md mx-auto",
        "p-4",
        "shadow-md rounded-xs",
        "after:content-[''] after:absolute",
        "after:-bottom-[5px] after:right-[10px]",
        "after:w-[100px] after:h-[20px]",
        "after:-rotate-2 after:-z-1",
        "after:bg-black/5",
        className,
    ]}
>
    <slot />
</div>
